body{
	font-family: Tahoma,serif;
	font-size: 10pt;
	font-weight: normal;
	margin: 0px;
	/*background-image: url(images2/background.jpg);
	background-repeat: repeat-x;
	background-position: top center;*/
	background-color: #fff;
	text-align: center;
}
table{
	border: 0px solid Black;
	/*border-collapse: collapse;*/

}
td{
	border: 0px solid Black;
	font-size: 10pt;
	font-weight: normal;
}
p{
	border: 0px solid Black;
	font-size: 9pt;
	font-weight: normal;
	text-align: justify;
}
p b, p strong, li b, li strong{
	font-weight: normal;
}
img
{
	margin: 0px;
	border: 0px;
	filter:expression(fixPNG(this));
}
#page
{
	width: 1200px;
	margin: 10px auto 0px auto;
	text-align: center;
	background-color: #fff;
	border-radius: 10px;
   -moz-box-shadow: 0 0 10px rgba(0,0,0,0.4); /* ??? Firefox */
   -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.4); /* ??? Safari ? Chrome */
   box-shadow: 0 0 10px rgba(0,0,0,0.4); /* ????????? ???? */	
}
a {
	font-family: Tahoma,serif;
	font-size: 10pt;
	font-weight: normal;
	color: black;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;	
}
a.topmenu{
	color: black;
	font-size: 10pt;
	font-weight: normal;
}
#tmid
{
	width: 1200px;
	height: 38px;
	background-color: #cfb45d;
	position: relative;
	float: left;
	z-index: 1;
	margin: 0px 0px;
	border-radius: 10px;
}
#tbot
{
	width: 100%;
	height: 4px;
	background-color: #ffffff;
	float: left;	
	position: relative;
	z-index: 1;	
}
#t11
{
	width: 350px;
	height: 325px;
	/*background-color: #ffcc01;
	background-image: url(images2/pic1.jpg);
	background-repeat: no-repeat;
	background-position: 0px 0px;*/
	float: left;
	position: relative;
	z-index: 0;	
	margin-top: -74px;
}
#t12
{
	width: 1200px;
	height: 247px;
	background-image: url(images2/pic.jpg);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	float: left;
	position: relative;
	z-index: 0;
	margin-top: 0px;	
}
/*#t13
{
	width: 429px;
	height: 567px;
	background-image: url(images2/pic.jpg);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	float: left;
}*/
.tel
{
	width: 370px;
	height: 140px;
	/*background-image: url(images2/logo.png);
	background-repeat: no-repeat;
	background-position: center;
	filter:expression(fixPNG(this));*/
}
.tel img
{
	width: 370px;
	height: 140px;
}
.bottom
{
	/*background-image: url(images2/nizbar.jpg);
	background-repeat: repeat-x;
	background-position: top center;*/
	background-color: transparent;
}
.bottomtd
{
	text-align: center;
	border-bottom: 1px dotted white; 
}
a.cur {
	display: block;
	padding: 2px 5px;
	background-color: white;		
	vertical-align: middle;
	text-decoration: none; 
	color:black;	
	font-size:11px;
}
a.cur:hover{
	color:black;	
	background-color: #e4e4e6;		
}
.cat_menu_item{
	/*width: 300px;*/
	display: block;
	/*padding-bottom: 2px;		
	background-image: url(images2/noactive.jpg);
	background-repeat: no-repeat;
	background-position: 20px center;*/
	vertical-align: bottom;
	text-align: left;
}
.cat_menu_item a{
	/*width: 255px;*/
	display: block;
	padding: 5px 0px 5px 0px;
	margin-left: 40px;
	margin-right: 5px;
	/*background-color: #e4e4e6;		
	background-image: url(images2/no_active.jpg);
	background-repeat: no-repeat;
	background-position: -10px center;*/
	vertical-align: middle;
	text-decoration: none; 
	color: #636363;	
	font-weight: bold;
	text-transform: capitalize;
	border-bottom: 1px solid #cccccc;	
}
.cat_menu_item a:hover{
	color: #636363;	
	text-decoration: underline; 
	/*background-image: url(images2/active.jpg);	
	background-color: #efefef;*/	
}
.cat_menu_item_sel{
	/*width: 300px;*/
	display: block;	
	vertical-align: bottom;
	/*padding-bottom: 2px;		
	background-image: url(images2/active.jpg);
	background-repeat: no-repeat;
	background-position: 20px center;*/
	text-align: left;
}
.cat_menu_item_sel a{
	/*width: 255px;*/
	display: block;
	padding: 5px 0px 5px 0px;
	margin-left: 40px;
	margin-right: 5px;
	/*background-color: #e4e4e6;		
	background-image: url(images2/active.jpg);
	background-repeat: no-repeat;
	background-position: -10px center;*/
	vertical-align: middle;
	text-decoration: underline; 
	color: #636363;	
	font-weight: bold;
	text-transform: capitalize;
	border-bottom: 1px solid #cccccc;	
}
.cat_menu_item_sel a:hover{
	/*background-image: url(images2/no_active.jpg);*/
	text-decoration: underline; 
	color: #636363;					
}
.subcat_menu_item{
	/*width: 320px;*/
	display: block;
	text-align: left;	
}
.subcat_menu_item a{
	display: block;
	/*background-color: #e4e4e6;*/	
	padding: 5px 5px 5px 75px;
	vertical-align: middle;
	text-decoration: none; 
	color: #636363;	
}
.subcat_menu_item a:hover{
	text-decoration: underline; 
	/*background-color: #efefef;*/	
	color: #636363;		
}
.subcat_menu_item_last{
	display: block;
	/*padding-bottom: 2px;
	background-image: url(images2/menu_punkt.jpg);
	background-repeat: repeat-x;
	background-position: bottom;
	background-color: #e4e4e6;*/
	text-align: left;			
}
.subcat_menu_item_last a{
	display: block;
	padding: 5px 5px 5px 75px;
	vertical-align: middle;
	text-decoration: none; 
	color: #636363;
}
.subcat_menu_item_last a:hover{
	text-decoration: underline; 	
	/*background-color: #efefef;*/
	color: #636363;				
}
.subcat_menu_item_sel{
	/*width: 320px;*/
	display: block;
	text-align: left;	
}
.subcat_menu_item_sel a{
	display: block;
	padding: 5px 5px 5px 75px;	
	/*background-color: #efefef;*/
	vertical-align: middle;
	text-decoration: underline; 
	color: #636363;	
}
.subcat_menu_item_sel a:hover{
	text-decoration: underline; 
	color: #636363;
	/*background-color: #e4e4e6;*/			
}
.brand_menu_item{
	display: block;		
	vertical-align: bottom;
}
.brand_menu_item a{
	display: block;
	background-color: #c7c8ca;		
	padding: 5px 5px 5px 40px;
	background-image: url(images2/brand.jpg);
	background-repeat: no-repeat;
	background-position: 20px center;
	vertical-align: middle;
	text-decoration: none; 
	color:white;	
	font-weight: bold;
}
.brand_menu_item a:hover{
	background-image: url(images2/brand2.jpg);
	text-decoration: underline; 	
}
.brand_menu_item_sel{
	display: block;
	vertical-align: bottom;
}
.brand_menu_item_sel a{
	display: block;
	padding: 5px 5px 5px 40px;
	background-color: #c7c8ca;		
	background-image: url(images2/brand2.jpg);
	background-repeat: no-repeat;
	background-position: 20px center;
	vertical-align: middle;
	text-decoration: none; 
	color: #f14c10;
	font-weight: bold;
}
.brand_menu_item_sel a:hover{
	background-image: url(images2/brand.jpg);
	text-decoration: underline; 		
}
div.punktirg {
	/*background-image: url(images2/punktirG.jpg);
	background-repeat: repeat-x;
	background-position: bottom;*/
	height: 2px;
	border-bottom: 2px dotted black;
	margin: 0px 5px 0px 5px;
	position: relative; 
	z-index: 2;
}
/*.punktirv{
	background-image: url(images2/punktirV.jpg);
	background-repeat: repeat-y;
	background-position: center;	
	font-size: 1px;	
	width: 2px; 
	height: 100%;
}*/
.punktirv{
	width: 1px;
	height: 100%;
	/*padding: 5px 0px 15px 0px;*/
	border-left: 2px dotted black;
	font-size: 1px;
}

td.login{
	height: 110px;
	padding-left: 20px;
}
td.pr_list_brand {
	color: White;
	font-size: 14pt;
	font-weight: normal;
	background-color: #65818F;
	padding-left: 30;
	padding-top: 10;
	padding-bottom: 10;
}
td.pr_list_cat {
	color: Black;
	font-size: 14pt;
	font-weight: normal;
	background-color: #9AB3C0;
	padding-left: 10;
	padding-top: 10;
	padding-bottom: 10;
	text-align: center;
}
h1{
	font-size: 15px;
	font-weight: bold;
}
a.product_name{
	color: #404040;
	font-size: 12px;
	font-weight: normal;
	text-decoration: underline;
}
a.product_name:hover{
	text-decoration: none;
}
a.brand{
	color: black;
	font-size: 10pt;
	font-weight: normal;
}
td.brands{
	background-color: #F0F0F0;
	border-style: dotted;
	border-color: black;
	border-width: 1;
	color: black;
	font-size: 10pt;
	font-weight: normal;
}
span.price{
	color: green;
	font-size: 14px;
	font-weight: normal;
}
span.price-warning{
    color: #fc0000;
    font-size: 14px;
    font-weight: bolder;
}
hr{
	border-style: dotted;
	border-color: black;
	border-width: 1;
	height: 1px;
}
a.menu {
	color: #266F90;
}
td.hi_menu{
	padding: 3px 15px;
	text-align: center;
	vertical-align: middle;
}
td.hi_menu a{
	color: white;
	text-decoration: none;
}
td.hi_menu a:hover{
	text-decoration: underline;
}
td.hi_menu_sel {
	padding: 3px 15px;
	text-align: left;
	vertical-align: middle;
	/*background-image: url(images2/upmenu_sel.jpg);
	background-repeat: no-repeat;
	background-position: bottom left;*/
}
td.hi_menu_sel a{
	color: white;
	text-decoration: underline;
}
td.hi_menu_sel a:hover{
	text-decoration: none;
}
td.sep{
	width: 1px;
	height: 20px;	
	/*background-image: url(images2/separator.png);	
	background-repeat: no-repeat;
	background-position: center;*/
	border-left: 1px solid white;
	padding: 0;
	font-size: 1px;
}
td.low_menu{
	color: #087FBB;
	background-image: url(images2/lowmenu.png);
	padding: 10 10 10 10;
	text-align: left;
	background-repeat: no-repeat;
	background-position: top left;
	width: 200;
	height: 50;
	vertical-align: bottom;
}
td.low_menu_sel {
	color: Red;
	background-image: url(images2/lowmenu_sel.png);
	padding: 10 10 10 10;
	text-align: left;
	background-repeat: no-repeat;
	background-position: top left;
	width: 200;
	height: 50;
	vertical-align: bottom;
}
a.order_link{
	display: block;
	width: 86px;
	height: 36px;
	background-image: url(images2/v-korzinu.png);
	background-repeat: no-repeat;
	background-position: center;
	filter:expression(fixPNG(this));
}
a.order_link span{
	display: none;
}
a.details{
	display: block;
	width: 86px;
	height: 30px;
	background-image: url(images2/podrobnee.png);
	background-repeat: no-repeat;
	background-position: center;
	filter:expression(fixPNG(this));
}
a.details span{
	display: none;
}
#contentw {
	padding: 0px 0px 0px 0px;
	margin-top: 0px;
	margin-left: 0px;
	width: 630px;
	position: relative;
	/*border-left: #a7d74d 2px solid;
	border-bottom: #a7d74d 2px solid;*/
}
#box {
	padding: 0px 20px 0px 0px;
	overflow: hidden;
	height: 200px;
	border-right: 0 solid #ccc;
	position: relative;
}
#scroll1 {
	position: absolute;
	margin: 0px 0px 0px 615px;
	background: url(images2/verh.gif) no-repeat;
	width: 15px;
	height: 19px;
	cursor: hand;
	z-index: 1;
}
#scroll2 {
	position: absolute;
	margin: 180px 0px 0px 615px;
	background: url(images2/niz.gif) no-repeat;
	width: 15px;
	height: 19px;
	cursor: hand;
	z-index: 1;
}
#p {
	position: absolute;
	margin: 5px 20px 0px 0px;
}
.products
{
	border-collapse: collapse;
	border: 1px solid black;
}
.products td
{
	border: 1px solid black;
}

input[type="radio"] {
    width: 20px;
    height: 20px;
}