*{
    margin: 0;
    padding: 0;
}
html, body {
    height: 100%;
}   


/**
 * Generic elements
 */
body {
  margin: 0;
  padding: 0;
  background: #fff;
  font: 76%/170% Arial, sans-serif;
  color: #79797b;
}

input {
  font: 1em/100% Arial, sans-serif;
  color: #79797b;
}

textarea,
select {
  font: 1em/160% Arial, sans-serif;
  color: #79797b;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  font-weight: normal;
  font-family: Helvetica, Arial, sans-serif;
}

h1 {
  font-size: 170%;
  color: #fc772a;
}

h2,
#center h1 {
  font-size: 160%;
  line-height: 130%;
}

h3 {
  font-size: 140%;
}

h4 {
  font-size: 130%;
}

h5 {
  font-size: 120%;
}

h6 {
  font-size: 110%;
}

quote,
code,
fieldset {
  margin: .5em 0;
}

code,
pre,
kbd {
  font-size: 115%;
}

p {
  margin: 0.6em 0 1.2em;
  padding: 0;
}

a:link,
a:visited {
  color: #6a6a6b;
  text-decoration: none;
}

a:hover {
  color: #0176e3;
  text-decoration: underline;
}

a:active,
a.active {
  color: #0176e3;
}

hr {
  margin: 0;
  padding: 0;
  border: none;
  height: 1px;
  background: #5294c1;
}

ul,
.block ul,
ol {
  margin: 0.5em 0 1em;
  padding: 0 0 0 1.5em; /* LTR */
}


img,
a img {
  border: none;
}

table {
  margin: 1em 0;
  width: 100%;
}

thead th {
  border-bottom: 2px solid #d3e7f4;
  color: #494949;
  font-weight: bold;
}

th a:link,
th a:visited {
  color: #6f9dbd;
}

td,
th {
  padding: .3em .5em;
}

tr.even,
tr.odd,
tbody th {
  border: solid #d3e7f4;
  border-width: 1px 0;
}

tr.odd,
tr.info {
  background-color: #edf5fa;
}

tr.even {
  background-color: #fff;
}

tr.drag {
  background-color: #ffb;
}

tr.drag-previous {
  background-color: #ffd;
}

tr.odd td.active {
  background-color: #ddecf5;
}

tr.even td.active {
  background-color: #e6f1f7;
}


/**
 * Skip link
 */
#skip-link {
  left: 50%;
  margin-left: -5.25em;
  margin-top: 0;
  position: absolute;
  width: auto;
  z-index: 1000;
}
#skip-link a,
#skip-link a:link,
#skip-link a:visited {
  background: #444;
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
  display: block;
  font-size: 0.94em;
  line-height: 1.7;
  margin-top: 1px;
  padding: 2px 10px;
  text-decoration: none;
  -khtml-border-radius: 0 0 2px 2px;
  -moz-border-radius: 0 0 2px 2px;
  -webkit-border-bottom-left-radius: 2px;
  -webkit-border-bottom-right-radius: 2px;
  -webkit-border-top-left-radius: 0;
  -webkit-border-top-right-radius: 0;
  border-radius: 0 0 2px 2px;
}
#skip-link a:hover,
#skip-link a:active,
#skip-link a:focus {
  outline: 0;
}

/**
 * Layout
 */



/* Prevent the previous directive from showing the content of script elements in Mozilla browsers. */
.region-header script {
  display: none;
}

.region-header p,
.region-header img {
  margin-top: 0;
}

.region-header h2 {
  margin: 0; /* LTR */
}

.region-header h3,
.region-header label,
.region-header li {
  margin: 0;
  padding: 0;
  background: none;
}

#wrapper {
    
    position: relative;
    overflow: hidden;
    min-height: 100%;
    width: 100%;
    margin: 0 auto;
    background: url(wrapper.png) repeat-y center top;

    
}

/* Set container widths when we are using the "fixed width" option. */
#wrapper #container {
    position: relative;
  margin: 0 auto;
  padding: 0 10px 0 15px;
  width: 975px;
  
}



/* Unset container width when we are using the "fluid width" option. */
body.fluid-width #wrapper #container {
  width: auto;
  max-width: 1270px;
}

#wrapper #container #header {
  height: 510px;
  background: url(header.png) no-repeat center bottom;
  position: relative;
}

#wrapper #container #header #logo-floater {
  position: absolute;
}

#branding,
#branding a:link,
#branding a:visited {
  line-height: 85px;
  position: relative;
  z-index: 2;
  white-space: nowrap;
}

#branding span {
  font-size: 30px;
  
}

#branding img {
  padding-top: 4px;
  padding-right: 10px; /* LTR */
  float: left; /* LTR */
}

/* With 3 columns, require a minimum width of 1000px to ensure there is enough horizontal space. */
body.two-sidebars {
  min-width: 980px;
}
/* With 2 columns, require a minimum width of 800px. */
body.sidebar-first,
body.sidebar-second {
  min-width: 780px;
}

/* We must define 100% width to avoid the body being too narrow for near-empty pages */
#wrapper #container #center {
  float: left; /* LTR */
  width: 100%;
}

/* So we move the #center container over the sidebars to compensate */
body.sidebar-first #center {
  margin-left: -300px; /* LTR */
}
body.sidebar-second #center {
  margin-right: -300px; /* LTR */
}
body.two-sidebars #center {
  margin: 0 -300px;
}

/* And add blanks left and right for the sidebars to fill */
body.sidebar-first #squeeze {
  margin-left: 300px; /* LTR */
}
body.sidebar-second #squeeze {
  margin-right: 300px; /* LTR */
}
body.two-sidebars #squeeze {
  margin: 0 300px;
}

/* We ensure the sidebars are still clickable using z-index */
#wrapper #container .sidebar {
  margin: 30px 0 5em;
  width: 300px;
  float: left; /* LTR */
  z-index: 2;
  position: relative;
}

#wrapper #container .sidebar .block {
  margin: 0;
}

#sidebar-first .block {
  padding: 0 0px 0 0px; /* LTR */
}

#sidebar-second .block {
  padding: 0 0px 0 0px; /* LTR */
}

.block .content {
  margin: 0;
}

#sidebar-first .block-region {
  margin: 0; /* LTR */
}

#sidebar-second .block-region {
  margin: 0; /* LTR */
}

.block-region {
  padding: 1em;
  background: transparent;
  border: 2px dashed #b4d7f0;
  text-align: center;
  font-size: 1.3em;
}

/* Now we add the backgrounds for the main content shading */
#wrapper #container #center #squeeze {
  
  position: relative;
}

#wrapper #container #center .right-corner {
 
  position: relative;
 
}

#wrapper #container #center .right-corner .left-corner {
  padding: 30px 25px 5em 35px;
 
  position: relative;
 
  min-height: 400px;
}

#wrapper #container .region-footer {
  float: none;
  clear: both;
 }

#wrapper #container .breadcrumb {
  position: absolute;
  top: 15px;
  left: 35px; /* LTR */
  z-index: 3;
}



/**
 * Header
 */
 
 ul.menu li,  ul.menu li.expanded {
    list-style: none;
    list-style-image: none;
 }
 
 
 #block-system-main-menu {
    position: absolute;
    top: 115px;
    left: 0;
    width: 100%;
    height: 40px;
    background: #dbdbdb;
    
       border-radius:  8px;
   -moz-border-radius: 8px;
   -webkit-border-radius: 8px;
   -khtml-border-radius: 8px;
   
   behavior: url(pie.htc);
 }
 
 
 #block-system-main-menu ul {
    margin: 0 0px;
    padding: 0;
 }
 
  #block-system-main-menu .menu li {
    margin: 0;
    padding: 0;
    float: left;
    list-style: none;
    list-style-image: none;
  }
 
 
  #block-system-main-menu .menu a {
    display: block;
    color: #525253;
    text-align: center;
    padding: 9px 45px;
}


 #block-system-main-menu .menu a:hover {
    text-decoration: none;
    color: #0176e3;
 }


#block-system-main-menu .menu a.active {
    text-decoration: none;
    background: #0176e3;
    color: #fff;
 }
 
 
 
 #block-system-main-menu .menu .first a.active {
         border-radius:  8px 0 0 8px;
   -moz-border-radius: 8px 0 0 8px;
   -webkit-border-radius: 8px 0 0 8px;
   -khtml-border-radius: 8px 0 0 8px;
   
   behavior: url(pie.htc);
 }
 
 
 #block-system-main-menu .menu li.last {
    float: right;
 }
 
 #block-system-main-menu .menu .last a {
    padding: 9px 42px;
 }
  
  #block-system-main-menu .menu .last a.active {
         border-radius:  0 8px 8px 0;
   -moz-border-radius: 0 8px 8px 0;
   -webkit-border-radius: 0 8px 8px 0;
   -khtml-border-radius: 0 8px 8px 0;
   
   behavior: url(pie.htc);
 }


/*header*/


#block-block-1 {
    position: absolute;
    right: 275px;
    top: 12px;
}

#block-block-1 .content {
    padding: 20px 0 10px 70px;
    background: url(letter.png) no-repeat 0 0;
}

#block-block-1 .content a {
    font-size: 14px;
}

#block-block-2 {
    position: absolute;
    right: 20px;
    top: 14px;
    color: #0176e3;
    font-size: 22px;
    line-height: 26px;
    font-weight: bold;
}


#block-block-2 .content {
    padding: 6px 0 10px 55px;
    background: url(tel.png) no-repeat 0 0;
}


/*Left menu*/

#block-menu-menu-leftmenu {
    -background: none repeat scroll 0 0 #FFFFFF;
    
    -position: fixed;
    -top: 160px;
    position: relative;
}


#block-menu-menu-leftmenu ul {
    margin: 0;
    padding: 0;
    -padding: 10px 10px 10px 0;
}

#block-menu-menu-leftmenu .menu li {
    margin: 0;
    padding: 0;
    position: relative;
}


#block-menu-menu-leftmenu .menu li a {
    display: block;
    height: auto;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    background-color: #0176e3;
    padding: 4px 7px 4px 50px;
    
         border-radius:  6px;
   -moz-border-radius: 6px;
   -webkit-border-radius: 6px;
   -khtml-border-radius: 6px;
   
   behavior: url(pie.htc);
}


#block-menu-menu-leftmenu .menu li a:hover,
#block-menu-menu-leftmenu .menu li a.active
{
    background-color: #79797b;
}

#block-menu-menu-leftmenu .menu li{
    margin: 5px 0px 5px 0px;
}

#block-menu-menu-leftmenu .menu .menu li{
    margin: 5px 0px 5px 8px;
}



#block-menu-menu-leftmenu .menu .menu li a {
    display: inline-block;
    text-transform: none;
    color: #6a6a6b;
    background: none;
    padding: 0;
    line-height: 14px;
}

#block-menu-menu-leftmenu .menu .menu li a:hover,
#block-menu-menu-leftmenu .menu .menu li a.active {
    background: none;
    color: #0176e3;
    text-decoration: underline;
}

/*Kontent

.front h1,*/
.page-taxonomy-term h1 {
    display: none;
}



.front .node-article,
.page-taxonomy-term .node-article {
    padding: 10px 0;
    margin: 10px 0;
    background: url(polosa.png) no-repeat center bottom;
}




.node-article h2 {
    padding-left: 180px;
}



.node-article h2 a {
    color: #fc772a;
}


.field-type-image {
    float: left;
    margin-right: 20px;
    position: relative;
    
}


.field-type-image img {
    position: relative;
    display: block;
    width: 160px;
    height: 160px;
    
         
    border-radius:  80px;
   -moz-border-radius: 80px;
   -webkit-border-radius: 80px;
   -khtml-border-radius: 80px;
   
   behavior: url(pie.htc);
   
}



.field-name-field-referencenode .field-label {
    color: #fc772a;
    font-size: 14px;
    text-transform: uppercase;
}


.front .field-type-image,
.page-taxonomy-term .field-type-image {
    margin-top: -40px;
}

.front .field-name-body,
.page-taxonomy-term .field-name-body {
    padding-left: 180px;
}



.front .node-article .links,
.page-taxonomy-term .node-article .links {
    display: block;
    text-align: right;
    margin-right: 12px;
}

.front .node-article .links a,
.page-taxonomy-term .node-article .links a {
    color: #0176e3;
    text-decoration: underline;
    line-height: 22px;
    padding-right: 20px;
    background: url(strelka.png) no-repeat center right;
    display: inline-block;
}

 
 
 /*Footer*/
 
 #footer-tree {
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 260px;
    height: 196px;
    margin-left: -758px;
    background: url(footer_tree.png) no-repeat 0 0;
 }



.region-footer {
    position: relative;
    left: 2px;
    height: 80px;
    width: 1002px;
    margin: 0 auto;
    background: #0176e3;
    text-align: center;
    color: #fff;
    
        border-radius:  8px 8px 0 0;
   -moz-border-radius: 8px 8px 0 0;
   -webkit-border-radius: 8px 8px 0 0;
   -khtml-border-radius: 8px 8px 0 0;
   
   behavior: url(pie.htc);
}



#block-block-3 {
    padding-top: 24px;
}


#metrika a {
    color: #fff;
}




#block-block-8 {
    color: #FFFFFF;
    font-size: 22px;
    font-weight: bold;
    line-height: normal;
    position: absolute;
    right: 45px;
    top: 0px;
}





#search-block-form {
    margin-bottom: 20px;
}


#search-block-form .form-text {
    width: 245px;
}



.node-gorod .field-name-field-block-text .field-item h5, 
.node-metro .field-name-field-block-text .field-item h5 {
    cursor: pointer;
    font-weight: bold;
    color: #0176E3;
    font-size: 12px;
}